# ==========================================
# Screenshot Settings (screenshot.py)
# ==========================================
# ✅ เปลี่ยนเป็นชื่ออื่นที่ไม่ชนกับ OS
LOGIN_URL=https://www.saucedemo.com
EXPECTED_URL=https://www.saucedemo.com/inventory.html
APP_USERNAME=standard_user
APP_PASSWORD=secret_sauce

# คั่นด้วยเครื่องหมายคอมม่า (,) สำหรับหลายหน้า
PAGE_URLS=https://www.saucedemo.com/inventory.html,https://www.saucedemo.com/cart.html

# ==========================================
# LINE Sender Settings (line.py)
# ==========================================
LINE_CHANNEL_ACCESS_TOKEN=Example
LINE_CHANNEL_SECRET=Example
# ID ของกลุ่ม LINE ที่ต้องการส่ง (ไม่ต้องใส่ชื่อ)
GROUP_ID=C28e3324499fd0fee35b8a94e398ce6bb
# โหมดการทำงาน: "screenshot" | "folder" | "latest" | "all"
MODE=all
WATCH_FOLDER=./image
# ตั้งเวลาส่ง (HH:MM) - ใส่ "None" เพื่อส่งครั้งเดียวทันที
SCHEDULE_TIME=None
# ส่งซ้ำทุกกี่วินาที - ใส่ 0 เพื่อส่งครั้งเดียว
REPEAT_INTERVAL_SECONDS=0

# URL ของ server (ถ้า deploy แล้ว ใส่ domain จริง)
BASE_URL=https://mobile-conjuror-duty.ngrok-free.dev
